.livro-fundo {
    height: 100%;
    width: 100%;
    background-image:url();
}

.quadro1 {
    height: 50%;
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    color: white;
    padding-top: 20px;
}

.quadro2 {
    height: 50%;
    width: 50%;
    position: fixed;
    top: 0;
    left: 50%;
    background-color: #ff0000;
    color: white;
    padding-top: 20px;
}

.quadro3 {
    height: 50%;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #00fe6e;
    color: white;
    padding-top: 20px;
}

.quadro4 {
    height: 50%;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 0%;
    background-color: #1100ff;
    color: white;
    padding-top: 20px;
}


.logo2 {
    height: 70%;
    width: 100%;
}

.home {
    height: 75%;
    width: 90%;
}

.historia {
    height: 75%;
    width: 90%;
}

.persona {
    height: 75%;
    width: 90%;
}
.mobs{
        height: 75%;
        width: 90%;
}

.ir {
    height: 75%;
    width: 90%;
}

.volta {
    height: 75%;
    width: 90%;
}
